page-component-summary {

  .headingDisp{

    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    //color: white;
    color: #424242;
  }


  .cardHeading{
    font-family: 'Lato', sans-serif;
    //color: #424242;
    color: white;
    font-size: 20px;
  }

  .centerDisp {
    font-family: 'Lato', sans-serif;
    color: white;
    //color: #424242;
    font-size: 30px;
  }

  .subtitle {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: 12px;
  }

  .usageLitres {
    display: block;
    font-family: 'Lato', sans-serif;
    color: #40ACE2;
    font-size: 40px;
  }
}

