page-welcome-screen {




      ion-slide {
        background-color: #3b9abc;
      }

      ion-slide img {
        height: 70vh !important;
        width: auto !important;
      }

h1{
  color:#f4f4f4;
  font-family: 'Lato', sans-serif;
  font-size: 46px;

}

  h2{
    color:#f4f4f4;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
  }
p{
  color:#f4f4f4;
}

}
