page-scanpage{

  .logo {
    padding: auto;
    //height: 90px;
    height: auto;
    width: auto;
  }

  .centerDisp {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: 100%;
    padding: auto;
  }

  .subtitle {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: 75%;
    padding: auto;
  }

  .buttonDisp {
    font-family: 'Lato', sans-serif;
  }


}
