old-params-min {
  .headingDisp{

    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;

  }



  .subtitle{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
  }



  .centerDisp{
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 40px;
  }

  .dtDisp{
    margin-top: 10px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
  }

  .indvParamDisp{
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    font-size: 18px;
  }


}
