bill-params {

  .headingDisp{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #424242;
  }

  .subtitle{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #424242;
  }

  .centerDisp{
    font-family: 'Lato', sans-serif;
    color: #32db64;
    font-size: 40px;
  }

  .dtDisp{
    margin-top: 10px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }

  .indvParamDisp{
    font-family: 'Oswald', sans-serif;
    color: #424242;
    font-size: 18px;
  }

}
