page-signup-uid {

  h1{
    color:#3E2723;
    font-family: 'Lato', sans-serif;
    font-size: 46px;

  }

  h2{
    color:#3E2723;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
  }
  p{
    color:#3E2723;
  }

  .centerDisp {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: 100%;
    padding: auto;
  }

  .subtitle {
    font-family: 'Lato', sans-serif;
    color: #424242;
    font-size: 75%;
    padding: auto;
  }

  .buttonDisp {
    font-family: 'Lato', sans-serif;
  }
}
